@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgb(13, 13, 72) 35%, rgb(27, 141, 26) 100%);
}

.bg{
    background: rgb(10,0,5);
background: linear-gradient(90deg, rgba(10,0,5,1) 33%, rgba(112,25,25,1) 100%);
}

.bg-form{
    background: rgb(0,3,1);
background: linear-gradient(90deg, rgb(1, 26, 37) 47%, rgb(3, 80, 30) 97%);
}